body{
    background: url("cold-front-warm-front-hurricane-felix-76969.jpeg") no-repeat;
    background-size: cover;

}
.weather-view{

}


.weather-view h1{
    position: absolute;
    color: white;
    font-family: "DejaVu Sans";
    left: 25%;
    top: 5%;

}

.weather-form{
    position: absolute;
    top: 30%;
    left: 30%;
}

.weather-form > input{
    width: 600px;
    height: 50px;
    border-radius: 40px;
    border: solid yellow;
    font-size: 2em;
}

.weather-form > button{
    position: absolute;
    top: 120%;
    left: 45%;
    height: 35px;
    width: 70px;

}

.weather-single-view{
    border: 5px solid yellow;
    padding: 10px;
    color: #fff;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 33%;
    background: rgba(0,0,0,0.6);
}